        <footer>
            <div class="ui inverted vertical footer segment form-page">
                <div class="ui container">
                    Loving yours, Bhanuj❤
                </div>
            </div>
        </footer>
    </body>
</html>